.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  /*background: linear-gradient(to left, #f46b45, #eea849);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
  width:100%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #485fc7;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}

.child, .child ~ div {
    width:100%;
}

.polaroid_pin {
  position:absolute;
  top: 5%;
  right: 50%;
  transform: scale(1.2,1.2);
  
  visibility: visible;
  opacity:1;
  cursor: default;

}

.flip-card:hover .polaroid_pin {
  /*display:none;*/
  opacity:0;
  
}

.flip-card:not(:hover) .polaroid_pin {
  visibility:visible;
  
  animation: 0.6s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  99% {
    opacity:0;
  }
  100% {
    opacity:1;   
  }
}

.corkboard {
  background: url("corkboard_main.png") repeat-y; 
  background-size: contain;
  margin: 0 auto;
}

.corkboard-top {
  background: url("corkboard_top.png") no-repeat; 
  background-size: 100%;
  margin: 0 auto;
  background-position: center bottom;
  max-height: 15vw;
}

.corkboard-bottom {
  background: url("corkboard_bottom.png") no-repeat; 
  background-size: 100%;
  background-position: center top;
  margin: 0 auto;
  margin-top: -15px;
  max-height: 15vw;
}

.social-media {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.8);
    margin-top: -5vw;
    margin-bottom: -5vw;
}

.social-board-middle {
  background: url("socials_middle.png") repeat-y; 
  background-size: contain;
  margin: 0 auto;

}

.social-board-top {
  background: url("socials_top.png") no-repeat; 
  background-size: 100%;
  margin: 0 auto;
  background-position: center bottom;
  max-height: 20vw;
}

.social-board-bottom {
  background: url("socials_bottom.png") no-repeat; 
  background-size: 100%;
  background-position: center top;
  margin: 0 auto;
  margin-top: -10px;
  max-height: 30vw;
}

.instagram_container{
  padding-left:10vw;
  padding-right:10vw;
}

.twitter_container {
  display: flex; 
  justify-content: center;
}

.flip-card {
  perspective: 1000;
}

.flip-card-inner {
  transform-style: preserve-3d;
  display: flex;
  align-items: stretch;
  width: 100%;
  transition: transform 0.6s;
  will-change: transform;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: url("pin_yellow_cursor.ico"), default;
}

.flip-card-front, .flip-card-back {
  width: 100%;
  flex: 0 0 auto;
  backface-visibility: hidden;
  z-index: 1;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
  margin-left: -100%;
}

img.polaroid_icon {
     display: block;
     margin-left: auto;
     width: 10%;
     height: auto;
}

.polaroid-back-text > a {
  display: inline-block;
  position: relative;
  z-index: 2;
  /*padding: 2em;
  margin: -50%;*/
}

.polaroid {
  padding: 5%;
  filter: sepia(50%);
}

.polaroid-back {
  background: url("polaroid-back.jpg") no-repeat; /* Changed value */
  background-size: cover;
}

@font-face {
    font-family: sharpie;
    src: url("PermanentMarker-Regular.ttf");
}

.polaroid-back-text {
  width:70%;
  font-family: sharpie;
  font-size: 2em;
  color: red;
  margin: 0 auto;
}

a:not(.navbar-special):link {
    text-decoration: underline;
}

p {
  margin-bottom: 30px;
}

.hero.is-info{
    background-color: #485fc7
}

h1 {
    font-size: 4em;
}

h3 {
    font-weight: 600;
    font-size: 1.5em;
}

ul {
    list-style: none;
}

.footer-fab {
    font-size: 4em;
}

.share-fab {
    font-size: 2em;
}

.text-right {
    float: right;
}

.horizontal-bars {
    border-top: #E6E6E6 solid 1px;
    border-bottom: #E6E6E6 solid 1px;
}

.navbar-end {
    padding-top: 15px;
}
