a {
    color: #296ec2
}

.hero.is-info{
    background-color: #296ec2
}

h1 {
    font-size: 4em;
}

ul {
    list-style: none;
}

.footer-fab {
    font-size: 4em;
}

.text-right {
    float: right;
}

.horizontal-bars {
    border-top: #FFFFFF solid 1px;
    border-bottom: #FFFFFF solid 1px;
}