---
permalink: "/about.html"
layout: layout.liquid

renderData:
    title: "About"

---

<div class="columns is-multiline"> 
    <img src="https:{{contentful-brand.portraitPhoto.fields.file.url}}?w=1000" alt="{{contentful-brand.name}}">
</div>
<div class="columns is-multiline"> 
    {{contentful-brand.aboutMe | renderRichTextAsHtml }}
</div>

