---
permalink: "/about"
layout: layout.liquid

renderData:
    title: "About"

---

<div class="columns is-multiline"> 
    <img src="https:{{contentful-brand.portraitPicture.fields.file.url}}?w=200" alt="{{contentful-brand.name}}">
</div>