---
permalink: "/blog.html"
layout: layout.liquid

renderData:
    title: "Blog"

---

<div class="is-multiline"> 
    {%- for post in contentful-blog -%}
    	<p><h3>{{post.title}}</h3></p>
    	<p>{{post.plainFontContent | trimWords }}</p>
    	<hr/>
    	<p class="text-right"><a href="/blog/{{post.slug}}/">
            Read More
        </a>
        <p>
        <hr/>
    {%- endfor -%}
</div>
