---
permalink: "/blog.html"
layout: layout.liquid

renderData:
    title: "Blog"

---

<div class="is-multiline"> 
    {%- for post in contentful-blog -%}
    	<p>{{post.title}}</p>
    	<p>{{post.plainFontContent | trimWords }}</p>
    	<a href="/blog/{{post.slug}}/">
            Read More
        </a>  
        <hr/>
    {%- endfor -%}
</div>
