---
permalink: "/blog.html"
layout: layout.liquid

renderData:
    title: "Blog"

---

<div class="is-multiline"> 
    {%- for post in contentful-blog -%}
    	<a href="/blog/{{post.slug}}/">
            <p class="title is-4 has-text-dark">{{post.title}}</p>
        </a>  
        <hr/>
    {%- endfor -%}
</div>
