---
permalink: "/"
layout: layout.liquid

renderData:
    title: "Portfolio"

---

<div class="columns is-multiline is-de"> 
    {%- for portfolio-item in contentful-photos -%}
    <div class="column is-one-third ">
       
        <div class="flip-card">
		<div class=" flip-card-inner">
       		 <div class="flip-card-front">
            
                	<div class=" image is-1by1">
                        <img class="polaroid" src="https:{{portfolio-item.thumbnail.fields.file.url}}?w=400&fm=jpg&fl=progressive&q=80&fit=fill&f=faces" alt="Photo from {{ portfolio-item.itemTitle }}" loading="lazy">
               		 </div>
		
            	<br><br>
                <!--<p class="title is-4 has-text-dark"></p>-->
        	</div>
        	
			<div class="flip-card-back polaroid-back has-text-centered is-flex is-align-items-center">
		
				<div class="polaroid-back-text">
					<a href="{{portfolio-item.slug}}"><p>{{portfolio-item.itemTitle}}</p></a>
				</div>
		
			</div>
			
		</div>
	</div>
    </div>
    {%- endfor -%}
</div>

<h1 class="title has-text-centered">Social Media</h1>

<div> 

<figure data-behold-id="JcBmk4CkAWNHuyq9dZcS"></figure>
<script src="https://w.behold.so/widget.js" type="module"></script>
</div>
<br><br>
<div style="display: flex; justify-content: center;">
<div>
<a class="twitter-timeline" data-tweet-limit="3" data-chrome="nofooter noborders noheader transparent noscrollbar" data-width="300" href="https://twitter.com/LokSangHo1?ref_src=twsrc%5Etfw">Tweets by LokSangHo1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
