<section id="list-of-portfolio-items" class="block block-list-of-portfolio-items">
    
    <ul class="portfolio_list">
        {% for post in site.posts %}
            <li>
            <div class="thumbnail">
                <a href="{{post.path}}">
              <img style="width:{{section.thumbnail_width}}px; height:{{section.thumbnail_height}}px; object-fit:cover;" src="{{ post.thumbnail}}" />
                    </a>
            </div>
          </li>
        {% endfor %}
          
        </ul>
</section>
