<script src="https://www.google.com/recaptcha/api.js"></script>
<section id="simple-form" class="block block-simple-form">
  <form action="{{section.form.action}}" method="{{section.form.method}}">
    {% for field in section.form.fields %}
    {% assign template = field.type %}
    {% case template %}
    {% when 'text' %}
    <label>{{field.label}}</label><br>
    <input type="{{field.type}}" name="{{field.name}}" {% if field.required == "True" %}required{% endif %}><br>
    {% when 'email' %}
    <label>{{field.label}}</label><br>
    <input type="{{field.type}}" name="{{field.name}}" {% if field.required == "True" %}required{% endif %}><br>
    {% when 'textarea' %}
    <label for="{{field.name}}">{{field.label}}</label><br>
    <textarea id="{{field.name}}" name="{{field.name}}" rows={{field.rows}} cols={{field.cols}} {% if field.required == "True" %}required{% endif %}>
    </textarea>
    {% when 'select' %}
    <label for="{{field.name}}">{{field.label}}</label><br>
    <select name="{{field.name}}" id="{{field.name}}">
    {% for option in field.options %}
      <option value="{{option}}">{{option}}</option>
    {% endfor %}
    </select>
    {% when 'radio' %}
    {% for option in field.options %}
    <input type="{{field.type}}" id="{{option}}" name="{{field.name}}" value="{{option}}">
    <label for="{{option}}">{{option}}</label><br>
    {% endfor %}
    {% when 'checkbox' %}
    <input type="{{field.type}}" id="{{field.name}}" name="{{field.name}}" value="{{field.name}}">
    <label for="{{field.name}}">{{field.label}}</label><br>
    {% endcase %}
    {% endfor %}
    <div class="g-recaptcha" data-sitekey="6Lc9RMwZAAAAAHCvJxeDOLBHzfcIyoAWnQhGcTRd"></div>
    <button style="background-color: white;color: black;border: 2px solid #000;" type="submit">{{section.form.submit_text}}</button>
  </form>
</section>
