<section id="simple-form" class="block block-simple-form">
  <form action="{{section.form.action}}" method="{{section.form.method}}">
    {% for field in section.form.fields %}
    {% assign template = field.type %}
    {% case template %}
    {% when 'text' %}
    <label>{{field.label}}</label><br>
    <input type="{{field.type}}" name="{{field.name}}"><br>
    {% when 'textarea' %}
    <label>{{field.label}}</label><br>
    <input type="{{field.type}}" name="{{field.name}}"><br>
    {% when 'select' %}
    <label for="{{field.name}}">{{field.label}}</label><br>
    <select name="{{field.name}}" id="{{field.name}}">
    {% for option in field.options %}
      <option value="{{option}}">{{option}}</option>
    {% endfor %}
    </select>
    {% when 'radio' %}
    {% for option in field.options %}
    <input type="{{field.type}}" id="{{option}}" name="{{field.name}}" value="{{option}}">
    <label for="{{option}}">{{option}}</label><br>
    {% endfor %}
    {% when 'checkbox' %}
    <input type="{{field.type}}" id="{{field.name}}" name="{{field.name}}" value="{{field.name}}">
    <label for="{{field.name}}">{{field.label}}</label><br>
    {% endcase %}
    {% endfor %}
  </form>
</section>
