---
pagination:
    data: contentful-blog
    size: 1
    alias: post
    addAllPagesToCollections: true
permalink: "/blog/{{ post.slug | slug }}/"
tags: "blogPost"
layout: layout.liquid

renderData:
    title: "{{ post.title }}"

---


<div class="columns is-multiline">
    <p>{{post.plainFontContent}}</p>
</div>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw"data-show-count="false"><i class="share-fab fab fa-twitter"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
