---
pagination:
    data: contentful-blog
    size: 1
    alias: post
    addAllPagesToCollections: true
permalink: "/blog/{{ post.slug | slug }}/"
tags: "blogPost"
layout: layout.liquid

renderData:
    title: "{{ post.title }}"

---


<div class="columns is-multiline">
    <p>{{post.plainFontContent}}</p>
</div>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw"data-show-count="false"><i class="share-fab fab fa-twitter"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="share-fab fab fa-facebook"></i></a></div>
