---
permalink: "/blog"
layout: layout.liquid

renderData:
    title: "Blog"

---

<div class="columns is-multiline"> 
    {%- for post in contentful-blog -%}
    <div class="column is-one-third ">
        <div class="box">
            
            <a href="/blog{{portfolio-item.slug}}">
                <p class="title is-4 has-text-dark">{{post.title}}</p>
            </a>
        </div>
    </div>
    {%- endfor -%}
</div>
